<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="XWAQuest M5 runtime" android:allowBackup="false"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen"
        android:hardwareAccelerated="true">
        <activity android:name=".RuntimeActivity" android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>


